@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  background: url('./assets/conference.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.wrapper{
    width: 420px;
    background:transparent;
    border : 2px solod rgba(255, 255, 255, .1);
     backdrop-filter: blur(30px);
     box-shadow: 0 0 10px rgba(0, 0, 0, .2);
     color: #fff;
     border-radius: 10px;
     padding: 30px 40px;
  }
  .wrapper h1{
     font-size: 36px;
     text-align: center; 
  }
  .wrapper .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
  }
  .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 2px solid  rgba(255, 255,255, .2);
      outline: none;
      border-radius: 40px;
      font-size: 16px;
      color: #fff;
      padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder {
      color: #fff;
  }
  .input-box .icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
  }
  .wrapper button {
      width: 100%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 700;
  }
  .wrapper  .register-link {
      font-size: 14.5px;
      text-align: center;
      margin-top: 20px ;
  }
  .register-link p a {
   color: #fff;
   text-decoration: none;
   font-weight: 600;
  }
  .register-link p a:hover{
      text-decoration:underline;
  
  }
  